<!doctype html>
<html ng-app="app" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" type="texy/css" href="style.css">
    <link rel="stylesheet" type="texy/css" href="prettify.css">
    <!-- Bootstrap CSS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>
    <!--Angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.5/angular-mocks.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <!----------------------------------------------------------------------------->
    <script src="main.js"></script>
    <title>AngularJS</title>
</head>
<body>


<div ng-controller="myCtrl">
    {{hello}}
    <label>
        <input type="text" ng-model="laptop">
        {{laptop}}
    </label>
    <!----------------------------------------------------------------------------->
    <div ng-controller="first">
        <input type="text" ng-model="myFactory.hello">
        {{myFactory.hello}}
    </div>
    <div ng-controller="second">
        <input type="text" ng-model="myFactory.hello">
        {{myFactory.hello}}
    </div>
    <!------------------------------------------------------------------------------>
    <div ng-controller="third">
        {{hello}}
        {{getMyLaptop()}}
        <button type="button" class="btn btn-success" ng-click="setHello('foo')">Set</button>
        <button type="button" class="btn btn-success" ng-click="setHello('bar')">Bar</button>
        {{hello}}
        {{myFactory.getHelloWorld()}}
    </div>
    <!------------------------------------------------------------------------------>
    <div ng-controller="myBooks">
        <div ng-controller="HTMLbook">
            <button type="button" class="btn btn-outline-success" ng-click="snowHTMLbook()">Show HTML Book</button>
        </div>
        <div ng-controller="CSSbook">
            <button type="button" class="btn btn-outline-success" ng-click="snowCSSbook()">Show CSS Book</button>
        </div>
        <!---------------------------------------------------------------->
        <div ng-controller="mainController as mainCtrl">
            {{mainCtrl.myLesson}}
            <div ng-controller="firstController as firstCtrl">
                <div ng-controller="secondController">
                    <button type="button" class="btn btn-primary btn-lg" ng-click="secondCtrl.addLesson()">Add Lesson
                    </button>
                </div>
            </div>
        </div>
        <!---------------------------------------------------------------->
        <div func>Func</div>
        <div func>Func</div>
        <div func>Func</div>
        <!---------------------------------------------------------------->
    </div>
</div>
<!------------------------------------Фильтры----------------------------------------->

<div ng-controller="mainCtrl">
    {{money1 | filterMoney}}
    {{money2 | filterMoney}}
    {{money3 | filterMoney}}
</div>
<!------------------------------------------------------------------------------------>

<div foo-bar class="text-success">FooBar</div>
<foo-bar class="text-primary">FooBar2</foo-bar>
<div class="foo-bar">FooBar3</div>
<!--directive: foo-bar-->

<!---------------------------------------------------------------------------------->

<func-bar></func-bar>

<!----------------------------------Transclude--------------------------------------->
<div ng-controller="transcludeD">
    <new-bar>This is {{myName}}</new-bar>
</div>

<!----------------------TemplateUrl в директивах------------------------------>

<new-teg></new-teg>
<!--<script type="text/ng-template" id="element.html">
<div ng-repeat="myBooks in bookmarks" class="shadow p-3 mb-5 bg-light rounded">
    {{myBooks.name}}
</div>
</script>-->

<!-------------------------------------------------------------------------->

<div ng-controller="newCtrl">
    <div>{{hello}}</div>
    <post></post>
</div>

<!-------------------------------------------------------------------------->

<div ng-controller="bookCtrl">
    <div>This is ctrl book: {{name}}</div>
    ------------------------------------------------
    <book-dir></book-dir>
    ------------------------------------------------
</div>

<!-----------------------------isolated-scope-------------------------------->

<div ng-controller="Ctrl1">
    <div>This is ctrl1 name: {{name}}</div>
    <div>This is ctrl1 color: {{color}}</div>
    <button ng-click="reverse()">Reverse Name</button>
    ============================----===========================
    <isolated-scope name="{{name}}" color="color" reverse="reverse()"></isolated-scope>
</div>

=======================================================================
<!----------------------------------------------------------------------------->
<div>My form here</div>
<form wrap-in="red">
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control w-25" id="inputEmail3" placeholder="Enter your email">
        </div>
        <label for="inputEmail4" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control w-25" id="inputEmail4" placeholder="Enter your password">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </div>
</form>
<script type="text/ng-template" id="red">
    <div class="red"></div>
</script>
<!----------------------------------------------------------------------------------------->

<div ng-controller="httpCtrl">
    <label>
        <input type="text" ng-model="book.name">
    </label>
    <input type="button" ng-click="addBook(book)" value='Add me new book'>
    <div ng-repeat="book in books">{{book.name}}</div>
</div>
<!------------------------------------------------------------------------------------>

<ui-source>
    <div>
        <label>Name:</label>
        <label>
            <input type='text' ng-model='yourName' placeholder='Enter a name here'>
        </label>
        <hr>
        <hr>
        <hr>
        <h1>Hello {{yourName}}</h1>
    </div>
</ui-source>

<!--------------------------------------------------------------------------->




</body>
</html>
